<section
  class="text-slate-700 dark:text-slate-200 font-extrabold text-xl text-center"
  id="user_info"
>
  <div class="max-w-md animate-pulse loading">
    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-56 mb-4">
    </div>
    <div
      class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-44 mx-auto mb-2.5"
    >
    </div>
    <span class="sr-only">Loading...</span>
  </div>

  <div class="data hidden"></div>
</section>
<script is:inline>
  const $loading = document.querySelector("#user_info > .loading");
  const $dataDiv = document.querySelector("#user_info > .data");
  const getUserInfo = async () => {
    const url = "https://cloudflare-ip.html.zone/geo";
    const req = await fetch(url);
    const res = await req.json();
    let data = `
        <p>
          ${!res.countryRegion ? res.flag : ""}
          ${res.asOrganization}
          ${res.ip}
        </p>
        ${
          res.countryRegion
            ? `<p>
                    ${res.flag} ${res.city}, ${res.countryRegion}
                </p>`
            : ""
        }
    `;
    $dataDiv.innerHTML = data;
    $loading.classList.add("hidden");
    $dataDiv.classList.remove("hidden");
  };
  getUserInfo();
</script>
